BODY {
	Font-Family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	MARGIN: 0px;
	WIDTH: 100%;
	COLOR: #5A97D8;
	HEIGHT: 100%;
	TEXT-ALIGN: center;
	background: #ffffff;
}

A {COLOR: #dddddd; TEXT-DECORATION: underline: none}
A:link {
	COLOR: #1A1364;
TEXT-DECORATION: underline: none; 	text-decoration: none;
}
A:visited {
	COLOR: #663399;

TEXT-DECORATION: underline: none; 		text-decoration: none;
}
A:active {COLOR: #FF0000; underline:none}
A:hover {
	COLOR: #F26521;
	TEXT-DECORATION: underline
}

A.acalendar {COLOR: #333333; TEXT-DECORATION: underline}
A.acalendar:link {COLOR: #000000; TEXT-DECORATION: underline}
A.acalendar:visited {TEXT-DECORATION: underline}
A.acalendar:active {}
A.acalendar:hover {COLOR: #000000; TEXT-DECORATION: none}

A.acontinues {COLOR: #cccccc; TEXT-DECORATION: underline}
A.acontinues:link {COLOR: #cccccc; TEXT-DECORATION: underline}
A.acontinues:visited {TEXT-DECORATION: underline}
A.acontinues:active {}
A.acontinues:hover {COLOR: #bababa; TEXT-DECORATION: none}

A.amenu {COLOR: #5A97D8; TEXT-DECORATION: underline}
A.amenu:link {COLOR: #5A97D8; TEXT-DECORATION: underline}
A.amenu:visited {TEXT-DECORATION: underline}
A.amenu:active {}
A.amenu:hover {COLOR: #bababa; TEXT-DECORATION: none}

#container {
	MARGIN: 0px auto;
	WIDTH: 740px;
	TEXT-ALIGN: left;
	background: #FFFFFF;
}
#down {
	MARGIN: 0px auto;
	WIDTH: 740px;
	TEXT-ALIGN: left;
	background: #ffffff;
}
#banner {
	WIDTH: 738px;
	HEIGHT: 104px;
	background-image: url(images/banner.jpg);
	MARGIN: 3px 0px;
}
#banner2 {
	WIDTH: 740px;
	HEIGHT: 50px;
	background: url(images/top-left.jpg) no-repeat top left;
}
#subbanner {}
#banner A {COLOR: #329BD7; TEXT-DECORATION: none}
#banner A:link {
	COLOR: #329BD7;
	TEXT-DECORATION: none;
}
#banner A:visited {
	TEXT-DECORATION: none;
}
#banner A:active {
}
#banner A:hover {
	COLOR: #2E8DCE;
	TEXT-DECORATION: underline;
}

#subbanner A {COLOR: #cccccc; TEXT-DECORATION: none}
#subbanner A:link {COLOR: #cccccc; TEXT-DECORATION: none}
#subbanner A:visited {TEXT-DECORATION: none}
#subbanner A:active {}
#subbanner A:hover {COLOR: #cccccc; TEXT-DECORATION: underline}

H1 {PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px}
H2 {
	PADDING-RIGHT: 0px;
	PADDING-LEFT: 0px;
	PADDING-BOTTOM: 0px;
	MARGIN: 0px;
	PADDING-TOP: 0px;
	font-size: 12px;
	font-style: normal;
	font-family: Verdana, Arial, Helvetica, sans-serif;
}
H3 {FONT-SIZE: 18px; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; COLOR: #A0410A;}

H4 { FONT-SIZE: 17px; color: #827A00;}

.blogtitle {
	PADDING-RIGHT: 50px;
	FONT-SIZE: 12px;
	PADDING-BOTTOM: 0px;
	PADDING-TOP: 50px;
	LETTER-SPACING: 1px;
	TEXT-ALIGN: right;
	line-height: 25px;
}
.description {
	PADDING-RIGHT: 10px;
	PADDING-LEFT: 0px;
	FONT-WEIGHT: normal;
	FONT-SIZE: 12px;
	PADDING-BOTTOM: 0px;
	COLOR: #329BD7;
	PADDING-TOP: 5px;
	LETTER-SPACING: normal;
	TEXT-ALIGN: right
}
#content {
	FLOAT: right;
	WIDTH: 480px;
	margin-right: 10px;
}
.blog {MARGIN: 0px 10px}
.date {
	FONT-SIZE: 18px;
	MARGIN: 0px 0px 5px;
	COLOR: #666666;
	font-weight: bold;
	height: 13px;
	text-align: left;
	padding-top: 2px;
	padding-bottom: 2px;
}

.date2 {
	FONT-SIZE: 12px;
	MARGIN: 0px 0px 5px;
	COLOR: #c59353;
	font-weight: bold;
	height: 13px;
	text-align: left;
	padding-top: 2px;
	padding-bottom: 2px;
}
.blogbody {
	PADDING-RIGHT: 10px;
	PADDING-LEFT: 10px;
	MARGIN-BOTTOM: 10px;
	PADDING-BOTTOM: 10px;
	PADDING-TOP: 10px;
	background-color: #FFFFFF;
	border-bottom: #eee 1px solid;
	border-right: #eee 1px solid;
	border-left: #eee 1px solid;
	border-top: #eee 1px solid;
}
.blogbody2 {
        Float: left;
	PADDING-RIGHT: 10px;
	PADDING-LEFT: 10px;
	MARGIN-BOTTOM: 10px;
	PADDING-BOTTOM: 10px;
	PADDING-TOP: 10px;
	border-bottom: #eee 1px solid;
	background-color: #FFFFFF;
	border-right: #eee 1px solid;
	border-left: #eee 1px solid;
	border-top: #eee 1px solid;
	WIDTH: 220px;
}
.blogbody3 {
        Float: right;
	PADDING-RIGHT: 10px;
	PADDING-LEFT: 10px;
	MARGIN-BOTTOM: 10px;
	PADDING-BOTTOM: 10px;
	PADDING-TOP: 10px;
	border-bottom: #eee 1px solid;
	background-color: #FFFFFF;
	border-right: #eee 1px solid;
	border-left: #eee 1px solid;
	border-top: #eee 1px solid;
	WIDTH: 220px;
}
.title0 {
	FONT-WEIGHT: bold;
	FONT-SIZE: 13px;
	COLOR: #CCCCCC;
	HEIGHT: 15px;
	padding-left: 30px;
	border-bottom: #bbb 1px solid;
	padding-bottom: 4px;
	background: #eee url(images/bluedot.gif) no-repeat top left padding-bottom: 4px;
}
.title {
	FONT-WEIGHT: bold;
	FONT-SIZE: 13px;
	text-transform: uppercase;
	COLOR: #CCCCCC;
	HEIGHT: 15px;
	padding-left: 30px;
	padding-top: 5px;
	border-top: #bbb 1px solid;
	padding-bottom: 4px;
	background: url(images/bluedot.gif) no-repeat 5px 2px;

}

.title2 {
	FONT-WEIGHT: bold;
	FONT-SIZE: 16px;
	COLOR: #827A00;
	padding-left: 5px;
	border-bottom: #bbb 1px solid;
	padding-bottom: 4px;
}

.title3 {
	FONT-WEIGHT: bold;
	FONT-SIZE: 15px;
	color: #04449E;
	HEIGHT: 15px;
	text-transform: uppercase;
	padding-left: 20px;
	padding-bottom: 4px;
	background: url(images/icon-goldarrow.gif) no-repeat 7px 4px;
}


.main-title {
        FONT-WEIGHT: bold;
	FONT-SIZE: 14px;
	COLOR: #124570;
	LINE-HEIGHT: 120%;
	LETTER-SPACING: 1px;
	MARGIN: 5px 0px;
}
.main-text {
	FONT-SIZE: 12px;
	MARGIN: 15px 0px;
	COLOR: #000000;
	LINE-HEIGHT: 100%;
}
.main {
	FONT-SIZE: 13px;
	MARGIN: 15px 0px;
	COLOR: #000000;
	LINE-HEIGHT: normal;
	LETTER-SPACING: 0.3px;
}
.main-continues {FONT-SIZE: 13px}

.posted {font-size: 11px;
	MARGIN: 0px 0px 5px;
	COLOR: #aaaaaa;
	TEXT-ALIGN: right;
}
A.aposted {FONT-WEIGHT: bold; COLOR: #666666; TEXT-DECORATION: underline}
A.aposted:link {FONT-WEIGHT: bold; COLOR: #aaaaaa; TEXT-DECORATION: underline}
A.aposted:visited {FONT-WEIGHT: bold; COLOR: #aaaaaa; TEXT-DECORATION: underline}
A.aposted:active {FONT-WEIGHT: bold}
A.aposted:hover {FONT-WEIGHT: bold; COLOR: #bababa; TEXT-DECORATION: none}

.menu {FONT-SIZE: 12px; COLOR: #666666; TEXT-ALIGN: right}
.comments-head {
	PADDING-RIGHT: 0px;
	PADDING-LEFT: 0px;
	FONT-WEIGHT: bold;
	FONT-SIZE: 12px;
	PADDING-BOTTOM: 0px;
	COLOR: #5A97D8;
	PADDING-TOP: 0px;
	HEIGHT: 10px;
	border-bottom: #bbb 1px solid;
}
.comments-body {
	FONT-SIZE: 13px;
	MARGIN: 20px 0px 15px 13px;
	LINE-HEIGHT: 150%;
}
.comments-post {FONT-SIZE: 12px; MARGIN: 50px 0px 25px; COLOR: #666666; TEXT-ALIGN: right}
.trackback-url {FONT-SIZE: 13px; MARGIN: 20px 0px 15px 13px; COLOR: #124570}
.trackback-body {FONT-SIZE: 13px; MARGIN: 20px 0px 15px 13px; LINE-HEIGHT: 135%}
.trackback-post {FONT-SIZE: 12px; MARGIN: 0px 0px 25px; COLOR: #666666; TEXT-ALIGN: right}

A.atrackback-post {FONT-WEIGHT: bold; COLOR: #2d8d5f; TEXT-DECORATION: underline}
A.atrackback-post:link {FONT-WEIGHT: bold; COLOR: #2d8d5f; TEXT-DECORATION: underline}
A.atrackback-post:visited {FONT-WEIGHT: bold; COLOR: #80b59c; TEXT-DECORATION: underline}
A.atrackback-post:active {FONT-WEIGHT: bold}
A.atrackback-post:hover {FONT-WEIGHT: bold; COLOR: #bababa; TEXT-DECORATION: none}

table.service {
	width: 95%;
	border: 1px solid #8E8DD8;
	margin-bottom: 6px;
	margin-left: 0;
	margin-right: 0;
	margin-top: 0;
	background-color: #CAC9ED;
	FONT-SIZE: 12px;
}
table.normal {
	width: 95%;
	FONT-SIZE: 14px;
	color: #000000;
}
TABLE.form {MARGIN: 25px 0px 0px 13px;}
LABEL {FONT-WEIGHT: bold; FONT-SIZE: 12px}
.form1 {
	font-family: Arial, Helvetica, sans-serif;
	display: block;
	background: #d4e9c0;
	border: 1px solid #B2D78E;
	padding: 10px;
	margin-bottom: 1em;
}
#author {
	WIDTH: 200px;
	border: #bbbbbb 1px solid;
}
#email {
	WIDTH: 200px;
	border: #bbbbbb 1px solid;
}
#url {
	WIDTH: 200px;
	border: #bbbbbb 1px solid;
}
#text {
	WIDTH: 500px;
	HEIGHT: 200px;
	border: #bbbbbb 1px solid;
}

#links {
	FLOAT: left;
	WIDTH: 180px;
	POSITION: absolute;
	TEXT-ALIGN: center;
	margin-left: 30px;
}
.calendarhead {
	PADDING-RIGHT: 2px;
	PADDING-LEFT: 2px;
	FONT-WEIGHT: bold;
	FONT-SIZE: 12px;
	PADDING-BOTTOM: 2px;
	MARGIN: 0px 0px 0px;
	COLOR: #000000;
	PADDING-TOP: 2px;
	TEXT-ALIGN: center;
	font-family: Arial, Helvetica, sans-serif;
	letter-spacing: 4px;
}
.calendartable {
	PADDING-RIGHT: 10px;
	PADDING-LEFT: 10px;
	PADDING-BOTTOM: 10px;
	WIDTH: 100%;
	PADDING-TOP: 0px;
	TEXT-ALIGN: center;
	MARGIN: 0px 0px 10px;
	BORDER-RIGHT: #FFFFFF 1px solid;
	BORDER-LEFT: #FFFFFF 1px solid;
	BORDER-BOTTOM: #FFFFFF 1px solid;
}
.calendarweek {
	FONT-WEIGHT: bold;
	FONT-SIZE: 12px;
	COLOR: #456A97;
	TEXT-ALIGN: center;
}
.calendarwd {
	border-top: #bbb 1px solid;
}
.calendard {empty-cells: show;}
.calendardbg {
	background-color: #DFF7F9;
}
.calendar {
	FONT-SIZE: 12px;
	color: #666666;
	text-align: center;
}

.sidetitle {
	PADDING-RIGHT: 5px;
	PADDING-LEFT: 20px;
	FONT-WEIGHT: bold;
	FONT-SIZE: 13px;
	PADDING-BOTTOM: 5px;
	COLOR: #000000;
	PADDING-TOP: 5px;
	LETTER-SPACING: 0.5px;
	TEXT-ALIGN: left;
	border-bottom: #bbb 1px solid;
}
.side {
	PADDING-RIGHT: 5px;
	PADDING-LEFT: 5px;
	FONT-SIZE: 12px;
	PADDING-BOTTOM: 5px;
	MARGIN: 0px 0px 10px;
	LINE-HEIGHT: 200%;
	PADDING-TOP: 10px;
	TEXT-ALIGN: left;
	border-bottom-width: medium;
	border-right: #FFFFFF 1px solid;
	border-bottom: #FFFFFF 1px solid;
	border-left: #FFFFFF 1px solid;
}
.bottom-address {
	FONT-SIZE: 12px;
	MARGIN: 15px 0px;
	COLOR: #959595;
	LINE-HEIGHT: 150%;
	LETTER-SPACING: 0.5px;
	background: #eee url(images/curve.gif) no-repeat top left;
}
.bottomlink {FONT-SIZE: 12px; MARGIN: 5px 0px 25px; TEXT-ALIGN: right;}
.bottom {FONT-SIZE: 12px; MARGIN: 5px 0px 25px; TEXT-ALIGN: center; background: #eee url(images/curve.gif) no-repeat top left;}

.bottom2 {FONT-SIZE: 6px; MARGIN: 5px; TEXT-ALIGN: left;}

.bottom-post {PADDING-RIGHT: 50px; FONT-SIZE: 12px; MARGIN-top: 50px; COLOR: #666666; TEXT-ALIGN: right}
.bottom-post2 {PADDING-RIGHT: 50px; PADDING-LEFT: 0px; FONT-WEIGHT: normal; FONT-SIZE: 12px; PADDING-BOTTOM: 0px; COLOR: #329BD7; PADDING-TOP: 0px; LETTER-SPACING: 2px; TEXT-ALIGN: right}

A.aside {COLOR: #666666; TEXT-DECORATION: underline}
A.aside:link {COLOR: #666666; TEXT-DECORATION: underline}
A.aside:visited {
	TEXT-DECORATION: underline;
	color: #999999;
}
A.aside:hover {COLOR: #666666; TEXT-DECORATION: none}

A.arss {COLOR: #dddddd; TEXT-DECORATION: underline}
A.arss:link {COLOR: #2d8d5f; TEXT-DECORATION: underline}
A.arss:visited {COLOR: #80b59c; TEXT-DECORATION: underline}
A.arss:active {}
A.arss:hover {COLOR: #bababa; TEXT-DECORATION: none}
ul{text-align:left; line-height: 200%; margin-left:10; margin-top:10; list-sytle-type:circle;}
.ul2{margin-left:40; margin-top:10; list-sytle-type:square;}


img {BORDER: 0px;}
.pict {MARGIN: 5px 5px 5px 5px;}
.photo {TEXT-ALIGN: center}
.nickname {FONT-WEIGHT: bold; FONT-SIZE: 12px; MARGIN: 10px 0px; COLOR: #2d8d5f}
.message {FONT-SIZE: 12px}
.quotetable {}
.quote {PADDING-RIGHT: 1px; PADDING-LEFT: 1px; FONT-SIZE: 12px; PADDING-BOTTOM: 1px; COLOR: #666666; PADDING-TOP: 1px}
.blogtimes {MARGIN: 0px 0px 15px; TEXT-ALIGN: center}
.powered {MARGIN: 0px 0px 10px; TEXT-ALIGN: center}
.syndicate {margin:5px 0px 5px 0px; TEXT-ALIGN: center}
.checkers {MARGIN-TOP: 10px; FONT-SIZE: 12px}
.sop {
	PADDING-RIGHT: 2px;
	PADDING-LEFT: 2px;
	FONT-WEIGHT: bold;
	FONT-SIZE: 20px;
	PADDING-BOTTOM: 2px;
	MARGIN: 0px 0px 0px;
	COLOR: #000000;
	PADDING-TOP: 2px;
	TEXT-ALIGN: right;
	font-family: Arial, Helvetica, sans-serif;
	letter-spacing: 20px;
	text-transform: uppercase;
}
