/* Merge with main css??? */

/* Format papers */
/* .ref is the paragraph format for each entry, based on main */
.ref{
	FONT-SIZE: 13px;
	MARGIN: 15px 0px;
	COLOR: #000000;
	LINE-HEIGHT: 1.2; /*Changed main here*/
	LETTER-SPACING: 0.3px;
}

.reftitle{
	    FONT-WEIGHT: bold;
	    TEXT-ALIGN: left;
}

.refauthors{
	    FONT-WEIGHT: normal;
	    TEXT-ALIGN: left;
}

.refauthors strong{
	    FONT-WEIGHT: normal;
	    TEXT-DECORATION: none;
}

.thesis-school{
	    line-height:1.5;
}

.journal{
	    FONT-STYLE: italic;
	    line-height:1.5;
}
.journal strong{
	    FONT-STYLE: normal;
	    FONT-WEIGHT: bold;
}

/* Change way abstracts are displayed (main definition in collapsible.css)*/
.ref .dspcont{
	  font-size: 14px;
	  font-family: Arial;
	  text-align: justify;
	  line-height:1.5;
	  white-space:normal;
}

/*  Style for nested sidetitles.*/
/*  Same as sidetitle exept for the border-bottom */
    .sidetitle1 {
	    PADDING-RIGHT: 5px;
	    PADDING-LEFT: 20px;
	    FONT-WEIGHT: bold;
	    FONT-SIZE: 13px;
	    PADDING-BOTTOM: 5px;
	    COLOR: #000000;
	    PADDING-TOP: 5px;
	    LETTER-SPACING: 0.5px;
	    TEXT-ALIGN: left;
    }
/*  nested, no border-bottom*/
    .sidetitle2 {
	PADDING-RIGHT: 5px;
	PADDING-LEFT: 20px;
	FONT-WEIGHT: bold;
	FONT-SIZE: 11px;
	PADDING-BOTTOM: 2px;
	COLOR: #000000;
	PADDING-TOP: 1px;
	LETTER-SPACING: 0.5px;
	TEXT-ALIGN: right;
    }
/*  nested, with border-bottom*/
    .sidetitle2b {
	PADDING-RIGHT: 5px;
	PADDING-LEFT: 20px;
	FONT-WEIGHT: bold;
	FONT-SIZE: 11px;
	PADDING-BOTTOM: 5px;
	COLOR: #000000;
	PADDING-TOP: 1px;
	LETTER-SPACING: 0.5px;
	TEXT-ALIGN: right;
	border-bottom: #bbb 1px solid;
    }
