/*COLLAPSIBLE TEXT
  Use css and javascript to show/hidde text
  based on M. C. Matti's  http://www.webreference.com/programming/css_content/index.html

    <!-- css part    -->*/
/*  style for links to show/hidde text.*/
    a.dsphead{
      text-decoration:none;
      margin-left:1.5em;}
    a.dsphead:hover{
      text-decoration:underline;}
    a.dsphead span.dspchar{
      font-family:monospace;
      font-weight:normal;}
/*  style for hidden text. Based on .blogbody */
    .dspcont{
      display:none;
      margin-left:1.5em;
      PADDING-RIGHT: 10px;
      PADDING-LEFT: 10px;
      MARGIN-BOTTOM: 10px;
      PADDING-BOTTOM: 10px;
      PADDING-TOP: 10px;
      background-color: #FFFFFF;
      border-bottom: #eee 1px solid;
      border-right: #eee 1px solid;
      border-left: #eee 1px solid;
      border-top: #eee 1px solid;}
